body {
    background-color: #FFF9E3;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: crimson;
}

a:hover {
    color: blueviolet;
    text-decoration: none;
    text-transform: capitalize;
}

.center {
    text-align: center;
    margin: auto;
    width: auto;
}